body{
  font-family: Arial, Helvetica, sans-serif;
}
.hospital-div{
  display: flex;
  height: 100px;

}
.hospital-navbar-div{
  width: 485px;
}
.hospital-heading-div{
  width: 400px;
}
.hospital-heading-div h1{
  position: relative;
  top:18px;
  left:100px;
  color:rgb(228, 222, 222);
}

