.hospital-navbar{
    display: flex;
    margin:18px;
}
a{
    display: inline-block;
    height:75px;
    width: 150px;
    background-color: #5f939a;
    text-decoration: none;
    color: white;
}
a:hover{
    background-color:#9dbeb9;
}
.register-patient-div{
    position: relative;
    top:5px;
    left:12px;
}
.donate-blood-div{
    position: relative;
    top:5px;
    left:23px;
}
.doctors-div{
    position: relative;
    top:5px;
    left:45px;
}