{% load static %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/hospital-logo.css' %}">
        <link rel="stylesheet" href="{% static 'css/index-navbar.css' %}">
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <div class="index-heading-logo-div">
            <h1 class="hospital-management-heading">Hospital Management System</h1>
            <img class="hospital-logo" src="{% static 'images/hospital.png' %}" alt="Hospital Logo">
        </div>
        <!-- users, hospital and admin navigation bar -->
        {% include 'index-navbar.html' %}
    </body>
</html>