{% load static %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/hospital-logo.css' %}">
        <link rel="stylesheet" href="{% static 'css/index-navbar.css' %}">
    </head>
    <body>
        <!-- Hospital management heading -->
        <h1 class="hospital-management-heading">Hospital Management System</h1>

        <!-- Hospital logo -->
        <img class="hospital-logo" src="{% static 'images/hospital.png' %}" alt="Hospital Logo">

        <!-- users, hospital and admin navigation bar -->
        {% include 'index-navbar.html' %}
    </body>
</html>