{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hospital</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/hospital/hospital.css' %}">
    <link rel="stylesheet" href="{% static 'css/hospital-logo.css' %}">
    <link rel="stylesheet" href="{% static 'css/hospital/hospital-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/hospital/patients/patients.css' %}">
    <link rel="stylesheet" href="{% static 'css/hospital/patients/patient-form.css' %}">
    <link rel="stylesheet" href="{% static 'css/hospital/patients/patient-details.css' %}">
  </head>
  <body style="background-color: #355968;">
    <div class="hospital-div">
      <div class="hospital-navbar-div">{% include 'hospital/hospital-navbar.html' %} </div>
      <div class="hospital-heading-div"><h1>Hospital</h1></div>
     
    </div>
    <img class="hospital-logo" src="{% static 'images/hospital.png' %}" alt="Hospital Logo">
  
    {% block content %}

    {% endblock content %}

  </body>
</html>
